
/* body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 40px;
} */

h3 {
  font-family:arial; 
  color:#ff0000;
}

#output {
  font-family:arial; 
  color:#0000ff;
}

.c1 {
  font-family:arial; 
}

.c2 {
  color:#e00b80;
}